// Colors
$bg_blue: #dff8ff;
$off-white: #eef2f5;
$lightblue: #60bdff;
$header_blue: #0287e6;
$login_grey: #555;
$box_shadow_blue: rgba(82, 167, 182, 0.4);
$cart_green: rgb(22, 87, 30);
$money_green: rgb(161, 194, 165);

// Spacing
//small size
$s-size: 1.2rem;
//medium-size
$m-size: 2rem;
//large size
$l-size: 3.2rem;
// x-large size
$xl-size: 4.8rem;
// desktop breakpoint
$desktop-breakpoint: 40rem;
