// Colors
$bg_blue: #dff8ff;
$off-white: #eef2f5;
$lightblue: #8fc7f0;
$login_grey: #555;
$box_shadow_blue: rgba(82, 167, 182, 0.671);

// Spacing 
//small size
$s-size: 1.2rem;
//medium-size
$m-size: 1.6rem;
//large size
$l-size: 3.2rem;
$l-size: 3.2rem;
// x-large size
$xl-size: 4.8rem;
// desktop breakpoint
$desktop-breakpoint: 45rem;
