// Colors
$bg_blue: #25b2dd;
$off-white: #eef2f5;
$lightblue: #cbe1f1;
$login_grey: #555;

// Spacing 
//small size
$s-size: 1.2rem;
//medium-size
$m-size: 1.6rem;
//large size
$l-size: 3.2rem;
// x-large size
$xl-size: 4.8rem;
// desktop breakpoint
$desktop-breakpoint: 45rem;
